In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../seminar-1/AER_credit_card_data.csv')


- card: `target` 1 if credit card application accepted, 0 if not 
- reports: Number of major derogatory reports
- age: Age n years plus twelfths of a year
- income: Yearly income (divided by 10,000)
- share: Ratio of monthly credit card expenditure to yearly income
- expenditure: Average monthly credit card expenditure
- owner: 1 if owns home, 0 if rents
- selfempl: 1 if self-employed, 0 if not
- dependents: 1 + number of dependents
- months: Months living at current address
- majorcards: Number of major credit cards held
- active: Number of active credit accounts

In [3]:
df

,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,yes,0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54,1,12
1,yes,0,33.25000,2.4200,0.005217,9.854167,no,no,3,34,1,13
2,yes,0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58,1,5
3,yes,0,30.50000,2.5400,0.065214,137.869200,no,no,0,25,1,7
4,yes,0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1314,yes,0,33.58333,4.5660,0.002146,7.333333,yes,no,0,94,1,19
1315,no,5,23.91667,3.1920,0.000376,0.000000,no,no,3,12,1,5
1316,yes,0,40.58333,4.6000,0.026513,101.298300,yes,no,2,1,1,2
1317,yes,0,32.83333,3.7000,0.008999,26.996670,no,yes,0,60,1,7
1318,yes,0,48.25000,3.7000,0.111619,344.157500,yes,no,2,2,1,0

# Baseline

In [6]:
df['card'] = df['card'].map({'yes': 1, 'no': 0})
df['owner'] = df['owner'].map({'yes': 1, 'no': 0})
df['selfemp'] = df['selfemp'].map({'yes': 1, 'no': 0})

In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Split the data into features and target
X = df.drop('card', axis=1)
y = df['card']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train a logistic regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Generate predictions for the testing data
y_pred = model.predict(X_test)

# Evaluate the performance of the model
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Precision:', precision_score(y_test, y_pred))
print('Recall:', recall_score(y_test, y_pred))
print('F1 score:', f1_score(y_test, y_pred))

Accuracy: 0.9772727272727273
Precision: 1.0
Recall: 0.9702970297029703
F1 score: 0.9849246231155778

/home/anvar/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

# Data leakage

expenditure, active, majorcards, share

In [9]:
df = df.drop(['expenditure', 'active', 'majorcards', 'share'], axis=1)

In [10]:
df

      card  reports       age  income  owner  selfemp  dependents  months
0        1        0  37.66667  4.5200      1        0           3      54
1        1        0  33.25000  2.4200      0        0           3      34
2        1        0  33.66667  4.5000      1        0           4      58
3        1        0  30.50000  2.5400      0        0           0      25
4        1        0  32.16667  9.7867      1        0           2      64
...    ...      ...       ...     ...    ...      ...         ...     ...
1314     1        0  33.58333  4.5660      1        0           0      94
1315     0        5  23.91667  3.1920      0        0           3      12
1316     1        0  40.58333  4.6000      1        0           2       1
1317     1        0  32.83333  3.7000      0        1           0      60
1318     1        0  48.25000  3.7000      1        0           2       2

[1319 rows x 8 columns]

# Second run

In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Load the data into a pandas DataFrame
df = pd.read_csv('../seminar-1/AER_credit_card_data.csv')

# Drop the columns that could lead to data leakage
df = df.drop(['expenditure', 'active', 'majorcards', 'share'], axis=1)

# Convert the binary categorical variables to 1s and 0s
df['card'] = df['card'].map({'yes': 1, 'no': 0})
df['owner'] = df['owner'].map({'yes': 1, 'no': 0})
df['selfemp'] = df['selfemp'].map({'yes': 1, 'no': 0})

# Split the data into features and target
X = df.drop('card', axis=1)
y = df['card']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train a logistic regression model
logreg_model = LogisticRegression()
logreg_model.fit(X_train, y_train)

# Generate predictions for the testing data
y_pred_logreg = logreg_model.predict(X_test)

# Train a decision tree model
dt_model = DecisionTreeClassifier()
dt_model.fit(X_train, y_train)

# Generate predictions for the testing data
y_pred_dt = dt_model.predict(X_test)

# Train a KNN model
knn_model = KNeighborsClassifier()
knn_model.fit(X_train, y_train)

# Generate predictions for the testing data
y_pred_knn = knn_model.predict(X_test)

# Train a random forest model
rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)

# Generate predictions for the testing data
y_pred_rf = rf_model.predict(X_test)

# Collect all the metrics into a pandas DataFrame
metrics_df = pd.DataFrame({
    'Logistic Regression': [accuracy_score(y_test, y_pred_logreg),
                            precision_score(y_test, y_pred_logreg),
                            recall_score(y_test, y_pred_logreg),
                            f1_score(y_test, y_pred_logreg)],
    'Decision Tree': [accuracy_score(y_test, y_pred_dt),
                      precision_score(y_test, y_pred_dt),
                      recall_score(y_test, y_pred_dt),
                      f1_score(y_test, y_pred_dt)],
    'KNN': [accuracy_score(y_test, y_pred_knn),
            precision_score(y_test, y_pred_knn),
            recall_score(y_test, y_pred_knn),
            f1_score(y_test, y_pred_knn)],
    'Random Forest': [accuracy_score(y_test, y_pred_rf),
                      precision_score(y_test, y_pred_rf),
                      recall_score(y_test, y_pred_rf),
                      f1_score(y_test, y_pred_rf)]
}, index=['Accuracy', 'Precision', 'Recall', 'F1 score'])

print(metrics_df)

           Logistic Regression  Decision Tree       KNN  Random Forest
Accuracy              0.837121       0.765152  0.768939       0.829545
Precision             0.838298       0.853535  0.794979       0.845815
Recall                0.975248       0.836634  0.940594       0.950495
F1 score              0.901602       0.845000  0.861678       0.895105

/home/anvar/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [13]:
metrics_df

           Logistic Regression  Decision Tree       KNN  Random Forest
Accuracy              0.837121       0.765152  0.768939       0.829545
Precision             0.838298       0.853535  0.794979       0.845815
Recall                0.975248       0.836634  0.940594       0.950495
F1 score              0.901602       0.845000  0.861678       0.895105


              
|                   | Predicted Positive   | Predicted Negative   |
|-------------------|---------------------|----------------------|
| Actual Positive   | TP (True Positive)   | FN (False Negative)   |
| Actual Negative   | FP (False Positive)  | TN (True Negative)    |


- True Positive (TP): This is a case where the actual value is positive, and the model correctly predicts it as positive. For example, if a patient has a disease and the model correctly predicts that the patient has the disease, this is a true positive.

- False Positive (FP): This is a case where the actual value is negative, but the model predicts it as positive. For example, if a patient does not have a disease but the model predicts that the patient has the disease, this is a false positive.

- True Negative (TN): This is a case where the actual value is negative, and the model correctly predicts it as negative. For example, if a patient does not have a disease and the model correctly predicts that the patient does not have the disease, this is a true negative.

- False Negative (FN): This is a case where the actual value is positive, but the model predicts it as negative. For example, if a patient has a disease but the model predicts that the patient does not have the disease, this is a false negative.

----


$$ Accuracy = \frac{TP + TN}{TP + TN + FP + FN}$$
$$ Precision  = \frac{TP}{TP + FP}$$
$$ Recall =  \frac{TP}{TP + FN}$$



- Describe a scenario in which Precision is more important
- Describe a scenario in which Recall i